.DS_Store

# Package Files #
*.war
*.ear

# Locally stored "Eclipse launch configurations"

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

*.pydevproject
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
/Report/*.pdf
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
